*, html {
    padding : 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: space-between;
    background-size: cover;
}
nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}
 nav ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
}
nav div img {
    width: 50px;
}
nav ul li a {
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 20px;
    color: gray;
    font-weight: 600;
}
nav ul li a:hover{
     color: red;
}

#Home {
    height: 100vh;
    background-image: url(/background-op1.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-top: 180px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

#Home h1{
    color: white;
    font-weight: bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.kolom {
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#About{
    min-height: 110vh;
    background-color: rgb(128, 0, 32);
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#About h2{
    font-size: 26px;
    color: white;
    font-weight: bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#About p{
    padding-top: 20px;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title {
    text-align: center; 
    margin: 100px 0 20px;  
    font-size: 20px;
    font-weight: bold;
    color: white;   
}

.character-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  
    gap: 20px;
    margin-top: 20px;
    

}

.character-card {
    margin-top: 40px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
    overflow: hidden;
    text-align: center;
    width: 180px;
    padding: 15px;
    transition: all 0.3s ease;  
    cursor: pointer;
    margin-bottom: 50px;
}

.character-card img {
    width: 100%;
    height: 300px;
    border-radius: 12px;
    object-fit: cover;
    
}

.character-card h3 {
    margin: 10px 0 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.character-card p {
    margin: 0;
    font-size: 14px;
    color: #555;
}

.character-card:hover {
    background: #111;     
    color: white;          
    transform: scale(1.05);
}

#Topics{
    min-height: 100vh;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
}

#Topics h2{
    text-align: center;
    font-size: 26px;
    color: red;
    font-weight: bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.character-topics {
   margin-top: 30px; 
   margin-left: 20px;
   display: flex;          
   align-items: flex-start; 
   gap: 30px;
}

.character-topics-img img {
   max-width: 250px;
   height: auto;
   display: block;
}

.character-topics-desc {
    max-width: 400px;
    line-height: 1.6;
    color: #222;
}

.character-topics-desc h3 {
    color: red;
    font-size: 25px;
    font-weight: bold;
    margin: 0 0 10px 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.character-topics-desc h4 {
    color: darkred;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 15px 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.character-topics-desc p{
     color: black;
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 15px 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.character-topics2 {
   margin-top: 30px; 
   margin-left: 20px;
   display: flex;          
   align-items: flex-start; 
   justify-content: flex-start;
   gap: 20px;
}

.character-topics-desc2 {
    margin-top: 100px;
    margin-left: 400px;
   text-align: left;
}

.character-topics-img2 {
   flex: 1;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.character-topics-img2 img {
   width: 400px;
   height: auto;
   display: block;
}


.character-topics-desc2 h3 {
    text-align: center;
    color: rgb(46, 213, 0);
    font-size: 25px;
    font-weight: bold;
    margin: 0 0 10px 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.character-topics-desc2 h4 {
    text-align: center;
    color: rgb(12, 95, 4);
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 15px 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.character-topics-desc2 p{
    text-align: justify;
    color: black;
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 15px 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.character-topics3 {
   margin-top: 50px; 
   margin-left: 20px;
   display: flex;          
   align-items: flex-start; 
   gap: 30px;
}

.character-topics-img3 img {
   width: 450px;
   height: auto;
   display: block;
}

.character-topics-desc3 {
    max-width: 400px;
    line-height: 1.6;
    color: #222;
}

.character-topics-desc3 h3 {
    color: rgb(255, 89, 0);
    font-size: 25px;
    font-weight: bold;
    margin: 0 0 10px 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.character-topics-desc3 h4 {
    color: rgba(217, 83, 17, 0.856);
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 15px 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.character-topics-desc3 p{
     color: black;
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 15px 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#Contact {
    background: rgb(128, 0, 32);
    padding: 50px 0px 50px 0px;

}

.footer{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
}

.footer-section h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    width: 100%;
    line-height: 50px;
}

.footer-section p{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#copy-right {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 40px;
    color: white;
}
